<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>CFBundleIdentifier</key><string>com.alwaysawake.mac</string>
    <key>CFBundleName</key><string>pika</string>
    <key>CFBundleDisplayName</key><string>pika</string>
    <key>CFBundleExecutable</key><string>AlwaysAwake</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>1.0.7</string>
    <key>CFBundleVersion</key><string>10</string>
    <key>CFBundleIconFile</key><string>AppIcon</string>
    <key>LSMinimumSystemVersion</key><string>13.0</string>
    <key>LSUIElement</key><true/>
    <key>LSFileQuarantineEnabled</key><true/>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSPrincipalClass</key><string>NSApplication</string>
    <key>NSHumanReadableCopyright</key><string>Copyright © 2026 Ezcho</string>
    <key>CFBundleDevelopmentRegion</key><string>ko</string>
    <key>CFBundleLocalizations</key><array><string>ko</string><string>en</string></array>
</dict></plist>
