<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.alwaysawake.mac.installed.helper</string>
  <key>ProgramArguments</key><array><string>/Library/PrivilegedHelperTools/com.alwaysawake.mac.installed.helper</string></array>
  <key>MachServices</key><dict><key>com.alwaysawake.mac.installed.helper</key><true/></dict>
  <key>AssociatedBundleIdentifiers</key><array><string>com.alwaysawake.mac</string></array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ProcessType</key><string>Interactive</string>
  <key>ExitTimeOut</key><integer>20</integer>
</dict></plist>
